#audit {
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
}

#audit .audit-container {
    max-width: 1200px;
    padding: 50px 10vw;
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 50px;
    align-items: center;
    
}

#audit .audit-left {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

#audit .audit-left .headline {
    max-width: 16ch;
    color: #FFFFFF;
}

#audit .audit-description {
    max-width: 600px;
}

#audit .audit-right {
    display: flex;
    align-items: center;
    justify-content: center;
}

#audit .audit-image {
    width: 100%;
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

@media (max-width: 968px) {
    #audit .audit-container {
        grid-template-columns: 1fr;
        padding: 50px 20vw;
        gap: 40px;
    }
    #audit .audit-image {
        width: clamp(300px, 45vw, 400px);
        max-width: 100%;
    }
    #audit .audit-right {
        order: -1;
    }
    
    #audit .audit-left {
        order: 1;
    }
}

@media (max-width: 768px) {
    #audit .audit-container {
        gap: 30px;
        padding: 50px 15vw;
    }
    #audit .audit-left {
        gap: 20px;
    }
}
@media (max-width: 425px) {
    #audit .audit-container {
        gap: 30px;
        padding: 50px 5vw;
    }
    #audit .audit-left {
        gap: 20px;
    }
}

