#hero {
    background-color: #000000;
    background-image: 
        linear-gradient(#212121 1px, transparent 1px),
        linear-gradient(90deg, #212121 1px, transparent 1px);
    background-size: 50px 50px;
    position: relative;
    display: flex;
    align-items: center;
    padding: 60px 20px 100px 20px;
    box-shadow: inset 0px -150px 150px -30px #000000;
}

#hero .hero-container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

#hero .hero-content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 30px;
    align-items: center;
}

#hero .hero-left {
    display: flex;
    flex-direction: column;
    gap: 28px;
}

#hero .hero-description {
    max-width: 600px;
}

#hero .hero-right {
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#hero .hero-right picture {
    width: 100%;
    display: block;
}

#hero .hero-cards-image {
    width: 100%;
    max-width: 100%;
    max-height: 500px;
    height: auto;
    object-fit: contain;
    display: block;
}

@media (max-width: 968px) {
    #hero .hero-content {
        grid-template-columns: 1fr;
        gap: 40px;
    }
    #hero .hero-left {
        text-align: center;
        align-items: center;
    }
    #hero .hero-left .smol,
    #hero .hero-left .xl-headline,
    #hero .hero-left .content {
        text-align: center;
    }
    #hero .hero-left .button {
        display: inline-block;
    }
    #hero .hero-cards-image {
        max-height: 400px;
    }
    #hero .hero-cards-image {
        max-width: 100%;
    }
}

@media (max-width: 768px) {
    #hero .hero-left {
        gap: 20px;
        text-align: center;
        align-items: center;
    }
    #hero .hero-left .smol,
    #hero .hero-left .xl-headline,
    #hero .hero-left .content {
        text-align: center;
    }
    #hero .hero-left .button {
        display: inline-block;
    }
}

